### 쥬피터 팁 (유용한 핫키 28개 소개)
https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

- a
- b
- m -> markdown
- x
- ctrl + shift + -
- shift + m -> merge
- ctrl + / => #처리
- Shift + Enter

### 기본연산
- 변수명을 미리 정의할 필요없이 처음 나나타는 문자구조체를 변수로 새로 잡는데 여기에 숫자, 논리, 문자를 배정할 수 있다!
- a = 0.5
- x = 3
- y = True
- z = "홍길동"
- print (a,x,y,z)

In [1]:
10 % 2 == 0

True

x

In [4]:
11 // 2

5

In [5]:
11/2

5.5

In [8]:
10 / 2 == 3

False

In [3]:
a = 3
b = 5
a+b

8

주피터는 끝에 있는 값 하나만 출력함. 두 값을 출력하고 싶으면 print()로 만들기

In [7]:
a=3
b=5

print(a+b)
a-b

-2

In [ ]:
a= 3
a = a + 1

print (a)

In [10]:
a = a + 2
a

6

In [11]:

x = 3
y = a * x + b

y

18

### 논리형
- 파이선에서 논리값은 True 또는 False 중에 하나를 갖는다 (대소문자를 구분한다). 
- 논리값을 마치 숫자인 것으로 가정하고 연산을 할 수 있는데, 이때는 True는 1로 자동 변환되고, False는 0으로 계산된다.

In [2]:
a = True
b = False

a and b

False

In [3]:
a or b

True

In [4]:
not a

False

In [5]:
a == b

False

In [6]:
a != b

True

### 문자열
- 문자열은 ‘ ’ 또는 “ ” 으로 묶어서 표시한다. 
- 여러 줄(line)으로 된 문자열은 """   """ 으로 묶어서 표시한다.

In [12]:
"Hello World!"

'kyung cha'

'kyung cha'

In [13]:
"Shayne's Name?"

"Shayne's Name?"

In [14]:
'Hellow World'

'Hellow World'

In [8]:
'''Hello 
   World''' #'''는 엔터를 인식해줌'''

'Hello \n   World'

In [10]:
#"Hello 
#World" #쌍따옴표는 엔터를 인식하지 못함

'Hello World'

In [15]:
print ('a')
print (a)

a
6

In [16]:
# int => 'integer' => 숫자
# str => 'string' => 문자
1 + 2

3

In [17]:
1 + 2

3

'1' + '2'

In [18]:
'1' + '2'

'12'

### 출력하기

In [19]:
i = 3

print(i)

print(i + 2)

print(type(i))

j = 0.3

print(type(j))

3
5
<class 'int'>
<class 'float'>

## 포메팅

In [13]:
bannas =3
days =5
"Shayne ate {0} bannas for {1} days".format(days,bannas) #.format의 0번째 나오는 숫자, 1번째 나오는 숫자

'Shayne ate 5 bannas for 3 days'

In [15]:
model_a = 4.4534346547
model_b = 7.80932543454

#f=>float => 소수점
"A= {0:.5f}, B={1:.3f}".format(model_a, model_b) #.5f = 소수점 5자리까지만 float을 보내줘라

'A= 4.45343, B=7.809'

In [22]:
model_a = 4.456545647
model_b = 7.434356457
"A = {0:.3f}, B={1:.2f}".format(model_a, model_b)

'A = 4.457, B=7.43'

### 문자열

In [17]:
message = 'Hello World'
message
message = 'Welcome'
message

'Welcome'

In [18]:
print(message[0])
print(message[1])
print(message[2])
print(message[1])

W
e
l
e

In [19]:
# print(message[-0]) #뒤에서부터 순서를 할 때는 1번째부터
print(message[-1])
print(message[-2])
print(message[-3])

W
e
m
o

In [26]:
message[0:4]
message[1:3]

'el'

In [27]:
message[1:5]

'elco'

In [20]:
"H" in message
print("H" in message)
print("a" in message)
print("h" in message)

"W" in message
print("W" in message)
print("a" in message)
print(type(message))
B = True
C = False
print(type(B))
print(3+B)
print(4+C)

False
False
False
True
False
<class 'str'>
<class 'bool'>
4
4

In [29]:
h = 'hello'
k = "keras"

print(h)
print(len(h))
hk = h + ' ' + k
print(hk)
print('%s %s %d' % (h, k, 2017))
print(h + ' ' + k + ' ' + str(2017))

print(h, hk)

hello
5
hello keras
hello keras 2017
hello keras 2017
hello hello keras

In [30]:
msg = 'keras'

print(msg.capitalize())
print(msg.upper())
print(msg.replace('ras', 'RAS'))

msg = '  keras  '

print(msg.strip())

Keras
KERAS
keRAS
keras

### 리스트
- 여러 데이터를 한 곳에 묶는 방법으로 리스트가 가장 많이 사용된다. 리스트에는 임의의  자료 타입을 담을 수 있다. 리스트를 만들려면 [ ]를 사용한다.

In [21]:
odd = [1,3,5,7,9]
odd
a = [2,3,4,5,6]
a

[2, 3, 4, 5, 6]

In [22]:
print(odd[0])
print(odd[1])
print(odd[2])

1
3
5

In [33]:
print(odd[-1])
print(odd[-2])
print(odd[-3])

9
7
5

In [34]:
odd[0:4]

[1, 3, 5, 7]

- 리스트내에 어떤 항목이 들어 있는지를 확인하고 들어 있으면 True를 리턴한다.

In [35]:
1 in odd

True

In [36]:
print(1 in odd)
print(2 in odd)
print(3 in odd)

True
False
True

In [23]:
print(odd)
odd.append(11) #odd에 11을 append 해줘 
odd[2]=6 #odd의 세 번째 숫자를 6으로 바꿔라 
odd

[1, 3, 5, 7, 9]

[1, 3, 6, 7, 9, 11]

- 리스트를 두 개 붙이려면 +를 사용하면 다음과 같이 같단히 두 리스트를 붙일 수 있다.

In [24]:
odd = odd + [13,15,17,19] #리스트 뒤에 숫자 업데이트 붙여주기 
odd

[1, 3, 6, 7, 9, 11, 13, 15, 17, 19]

In [39]:
odd [0:4] + odd[-3:-1]

[1, 3, 6, 7, 15, 17]

In [40]:
words = ["world"]
print(",".join(words))

world

In [41]:
print ("hello")
print (",".join(words))

hello
world

In [42]:
words =["Hello", "world"]
print ("words")
print (words)

words
['Hello', 'world']

In [33]:
 #이 숫자를 리스트화 시켜라
list ("123")

['1', '2', '3']

In [25]:
list("abc")  #이 문자를 리스트화 시켜라

['a', 'b', 'c']

##제어문

In [34]:


age=4

if age<4:
    print("어린아이") #만약에 age가 4보다 작으면 어린아이라고 해줘 
else:
    print("어린이")

어린이

In [35]:
age =15

if age<5:
    print("아이")
elif age < 18:
    print("학생")
else:
    print("어른")

학생

## 반복문

In [28]:
basket = ['apple', 'banna', 'chicken', 'juice']

print (basket[0])
print (basket[1])
print (basket[2])
print (basket[3])

for stuff in basket: #stuff는 for문의 이름. 내가 정해준 것. stuff for 문에 basket을 넣어줘 
    print(stuff)

apple
banna
chicken
juice
apple
banna
chicken
juice

In [29]:
  
color = ['green', 'pink', 'yellow', 'orange']

for stuff in color:
    print (stuff)

green
pink
yellow
orange

In [37]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [31]:
for i in range(2,8):
    if i == 6:
        break # i == 6이 되면 for 명령을 멈추어라 
    print(i)

2
3
4
5

In [40]:
for i in range(1,6):
    if i == 5:
        break
    print(i)

1
2
3
4

In [41]:
for i in range(1,7):
    if i ==3:
        continue
        
    if i == 6:
        break
    print(i)

1
2
4
5

In [42]:
for i in range(0,11):
    print(i*2)

0
2
4
6
8
10
12
14
16
18
20

In [43]:
for i in range(2,20):
    print(i*3)

6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57

In [44]:

for i in range(1,10):
    if i == 3:
        continue
    if i == 6:
        break
    double=i*2
  
    print(double)

2
4
8
10

In [45]:
a_list =[]
for i in range(0,10):
    if i == 1:
        continue
    if i == 8:
        break
    double=i*2
    a_list.append(double)
a_list

[0, 4, 6, 8, 10, 12, 14]

In [37]:
idx = 0

while idx < 10:
    print(idx)
    idx = idx + 1

0
1
2
3
4
5
6
7
8
9

In [38]:
for idx in range(10):
    print(idx)

0
1
2
3
4
5
6
7
8
9

In [39]:
people = ['kim', 'lee', 'choi']

for p in people:
    print(p)

kim
lee
choi

### 연습문제 구구단

In [40]:
for i in range(9): #9*9니까 range가 2개 있어야 함 
    for j in range(9):
        print("%d x %d = %d" % (i+1, j+1, (i+1) * (j+1)))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### List Comprehension

In [42]:
values = [0, 1, 2, 3, 4]
squares = []
for v in values:
    squares.append(v ** 2)
print(squares)

[0, 1, 4, 9, 16]

In [44]:
values = [0, 1, 2, 3, 4]
squares = [v ** 2 for v in values]
print(squares)

[0, 1, 4, 9, 16]

In [46]:
values = [0, 1, 2, 3, 4]
even_squares = [v ** 2 for v in values if v % 2 == 0]
print(even_squares)

[0, 4, 16]

### Dictionary
- 모든 항목이 “키(key)”-“값(value)” 로 구성되는 데이터 형식이다. 
- 사전형식 데이터를 만들 때는 { }를 사용한다. 키 값을 인자로 하면 [ ]를 사용하면 해당 키의 값을 얻을 수 있다.

In [48]:
dic = {} #'물리학과'는 key값 = 뒤에 있는 것은 value
dic['물리학과'] = '물리학의 각 분야에 걸친 이론과 응용방법을 심오하게 교수, 연구함으로써 독창적 능력을 함양하고 고도 산업사회를 선도해 갈 지도적 인재를 양성함을 목적으로 한다.'
dic['우주과학과'] = '우주과학과는 천체 및 우주에서 일어나는 제반 현상을 과학적으로 탐사하고 연구하는 학과이다. 본 학과는 인류의 우주진출이 더욱 활발해 지고 있는 이 시대에 그를 위한 지식과 기술의 개발과 보급을 목적으로 설립되었다. 현대 천문학에서부터 인공위성과 우주선의 활용에 이르는 기초와 응용의 병행 학습을 통하여 21세기 우주 시대가 요구하는 첨단분야에서 국제적인 경쟁력이 있는 인재를 양성하는 데에 우주과학과의 교육 목적이 있다.'
dic['우주탐사학과'] = '경희대학교 우주탐사학과(School of Space Research /KHU)는 교육과학기술부 제 1유형의 세계수준의 연구중심 대학 육성(WCU)사업에 달궤도 우주 탐사 연구 과제가 선정됨에 따라 설립된 대학원 학과로서 우리나라의 우주탐사를 위하여 본격적으로 전문인력 양성의 기틀을 마련하고자 한다. 한국 정부의 대학 교육 지원 과정의 세계 수준의 연구중심 대학(WCU) 육성사업을 통해 연구 역량이 높은 우수 해외 학자를 유치 활용하여, 국내 대학과 협력하여 핵심 성장 동력을 창출할 수 있는 분야의 연구를 활성화 하는데 그 목적이 있다. 다양한 프로젝트를 통해 국가적 발전을 선도하는 신 성장 동력을 창출하는 기술을 개발하는데 집중하고 있으며, 기초과학, 인문과학, 사회과학의 학제적 통합을 통해 학계 및 사회, 국가적 발전에 기여 할 수 있도록 정부에서 적극적으로 추진하고 있다.'

print(dic['물리학과'])

print(dic['우주과학과'])

print(dic['우주탐사학과'])

물리학의 각 분야에 걸친 이론과 응용방법을 심오하게 교수, 연구함으로써 독창적 능력을 함양하고 고도 산업사회를 선도해 갈 지도적 인재를 양성함을 목적으로 한다.
우주과학과는 천체 및 우주에서 일어나는 제반 현상을 과학적으로 탐사하고 연구하는 학과이다. 본 학과는 인류의 우주진출이 더욱 활발해 지고 있는 이 시대에 그를 위한 지식과 기술의 개발과 보급을 목적으로 설립되었다. 현대 천문학에서부터 인공위성과 우주선의 활용에 이르는 기초와 응용의 병행 학습을 통하여 21세기 우주 시대가 요구하는 첨단분야에서 국제적인 경쟁력이 있는 인재를 양성하는 데에 우주과학과의 교육 목적이 있다.
경희대학교 우주탐사학과(School of Space Research /KHU)는 교육과학기술부 제 1유형의 세계수준의 연구중심 대학 육성(WCU)사업에 달궤도 우주 탐사 연구 과제가 선정됨에 따라 설립된 대학원 학과로서 우리나라의 우주탐사를 위하여 본격적으로 전문인력 양성의 기틀을 마련하고자 한다. 한국 정부의 대학 교육 지원 과정의 세계 수준의 연구중심 대학(WCU) 육성사업을 통해 연구 역량이 높은 우수 해외 학자를 유치 활용하여, 국내 대학과 협력하여 핵심 성장 동력을 창출할 수 있는 분야의 연구를 활성화 하는데 그 목적이 있다. 다양한 프로젝트를 통해 국가적 발전을 선도하는 신 성장 동력을 창출하는 기술을 개발하는데 집중하고 있으며, 기초과학, 인문과학, 사회과학의 학제적 통합을 통해 학계 및 사회, 국가적 발전에 기여 할 수 있도록 정부에서 적극적으로 추진하고 있다.

In [52]:
for item in dic.keys():
    print(item)
    
for item in dic.values():
    print(item)

물리학과
우주과학과
우주탐사학과
물리학의 각 분야에 걸친 이론과 응용방법을 심오하게 교수, 연구함으로써 독창적 능력을 함양하고 고도 산업사회를 선도해 갈 지도적 인재를 양성함을 목적으로 한다.
우주과학과는 천체 및 우주에서 일어나는 제반 현상을 과학적으로 탐사하고 연구하는 학과이다. 본 학과는 인류의 우주진출이 더욱 활발해 지고 있는 이 시대에 그를 위한 지식과 기술의 개발과 보급을 목적으로 설립되었다. 현대 천문학에서부터 인공위성과 우주선의 활용에 이르는 기초와 응용의 병행 학습을 통하여 21세기 우주 시대가 요구하는 첨단분야에서 국제적인 경쟁력이 있는 인재를 양성하는 데에 우주과학과의 교육 목적이 있다.
경희대학교 우주탐사학과(School of Space Research /KHU)는 교육과학기술부 제 1유형의 세계수준의 연구중심 대학 육성(WCU)사업에 달궤도 우주 탐사 연구 과제가 선정됨에 따라 설립된 대학원 학과로서 우리나라의 우주탐사를 위하여 본격적으로 전문인력 양성의 기틀을 마련하고자 한다. 한국 정부의 대학 교육 지원 과정의 세계 수준의 연구중심 대학(WCU) 육성사업을 통해 연구 역량이 높은 우수 해외 학자를 유치 활용하여, 국내 대학과 협력하여 핵심 성장 동력을 창출할 수 있는 분야의 연구를 활성화 하는데 그 목적이 있다. 다양한 프로젝트를 통해 국가적 발전을 선도하는 신 성장 동력을 창출하는 기술을 개발하는데 집중하고 있으며, 기초과학, 인문과학, 사회과학의 학제적 통합을 통해 학계 및 사회, 국가적 발전에 기여 할 수 있도록 정부에서 적극적으로 추진하고 있다.

In [53]:
'철학과' in dic # = '철학과' in dic.key

False

In [54]:
'우주탐사학과' in dic

True

In [56]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data {key: 'vlaue1', ;value2'}
print(d['cat'])       # Get an entry from a dictionary; prints "cute" - 첫 번째 값만 나오는 건가?!????
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

cute
True

In [59]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d)
print(d['fish'] )     # Prints "wet"

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}
wet

In [61]:
print(d.get('monkey', 'N/A')) # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [63]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

In [64]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    print(animal)

person
cat
spider

In [65]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [67]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

### 튜플
- 튜플은 리스트와 거의 같은 용도로 사용되나 내용을 갱신할 수 없다는 제약을 갖는다. 즉, 상수화된 리스트라고 볼 수 있다. 
- 이렇게 상수화된 리스트를 사용하는 이유는 더 이상 내용을 변경하는 것을 방지하는 목적도 있고, 처리속도를 빠르게 한다는 장점도 있다.
- 리스트를 만들때와 달리 튜플을 만들려면 (  )을 사용하거나 아무 괄호를 넣지 않아도 된다.

In [69]:
a = 3
b = 7

temp = a
a = b
b = temp

print(a, b)

7 3

In [71]:
a = 3
b = 7
a, b = b, a
print(a, b)

7 3

In [72]:
t1 = (1, 3, 5) #튜플은 데이터 수정이 불가능
t2 = 2, 4, 6

print(type(t1))
print(type(t2))

print(t1)
print(t2)

<class 'tuple'>
<class 'tuple'>
(1, 3, 5)
(2, 4, 6)

In [73]:
t = (1, 2, 3)
print(t)
l = list(t)
print(l)
t2 = tuple(l)
print(t2)

(1, 2, 3)
[1, 2, 3]
(1, 2, 3)

### 함수

- 함수의 인자 값으로 디폴트 값을 줄 수 있다. 아래에서 x의 값을 인자로 주지 않으면 디폴트로 x의 값은 100이 배정된다.

In [46]:
#def => define
def multiply(a,b):
    c=a*b
    return c

print(multiply(3,4))
print(multiply(4,6))

12
24

In [46]:
def multiply(a,b,c):
    f=a*b*c
    return f

print(multiply(1,2,3))

6

In [48]:
def sign(n):
    if n > 0:
        return '양수'
    elif n <0:
        return '음수'
    else:
        return '0'

for n in range(-3,3):
    print(sign(n))
    
# for n in [-1,0,1]:
#     print(sign(n))
    
#하기 싫은 것 반복시킬 때는 for + if로 반복하게 해줌

음수
음수
음수
0
양수
양수

In [76]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

In [80]:
def hello(name, loud=False):
    if loud:
        print('HELLO, %s' % name.upper())
    else:
        print('Hello, %s!' % name)

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

In [82]:
seed = 3

def updown(mind, guess):
    if mind < guess:
        return 'down'
    elif mind > guess:
        return 'up'
    else:
        return 'correct'

updown(seed, 3)

'correct'

Practice

** 팩토리얼 **
*3! = 3x2x1 = 6
*4! = 4x3x2x1 = 24
*5! = 5x4x3x2x1 =120

In [49]:
def factorial(n):
    result = 1
    
    for i in range (1, n+1):
        result = result * i
        
    return result

print (factorial(2))
print (factorial(3))
print (factorial(4))
print (factorial(5))

2
6
24
120

In [50]:
def factorial(n):
    result =1

    for i in range (1, n+1):
        result = result * i

    return result

print (factorial(2))

2

In [51]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [52]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [53]:
def factorial (n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

print (factorial(3))
print (factorial(4))
print (factorial(5))

6
24
120

In [54]:
def factorial (n):
    if n ==1:
        return 1
    else:
        return n* factorial(n-1)

print(factorial(3))
print(factorial(4))
print(factorial(5))

6
24
120

###  모듈설치
- 파이선이 기본으로 제공하는 기능 외에 추가로 어떤 기능을 사용하려면 해다 모듈을 설치하고 이를 불어와야 한다. 
- 모듈 설치는 한번만 하면 되는에 pip install 같은 명령을 사용해서 설치한다. 모듈을 불러오는 작업은 매번 프로그램을 실행할 때마다 첫 부분에서 해주어야 하며 import 를 사용한다.
- 이미 설치되어 있는 모듈을 불어 오는 예는 아래와 같다.

In [47]:
import matplotlib.pyplot as plt

- 위의 의미는 모듈의 이름을 간결하게 사용하기 위해서이다.
- 모듈 내의 일부 함수만 불어올 수도 있는데 이때는 from을 사용한다.
- from ... import ..., ...