In [1]:
import numpy as np
import pandas as pd

## Load Dataset

In [7]:
train = pd.read_csv("bike_train.csv")
train.shape
train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [8]:
train.head

<bound method NDFrame.head of                datetime  season  holiday  workingday  weather   temp   atemp  \
0       2011-01-01 0:00       1        0           0        1   9.84  14.395
1       2011-01-01 1:00       1        0           0        1   9.02  13.635
2       2011-01-01 2:00       1        0           0        1   9.02  13.635
3       2011-01-01 3:00       1        0           0        1   9.84  14.395
4       2011-01-01 4:00       1        0           0        1   9.84  14.395
5       2011-01-01 5:00       1        0           0        2   9.84  12.880
6       2011-01-01 6:00       1        0           0        1   9.02  13.635
7       2011-01-01 7:00       1        0           0        1   8.20  12.880
8       2011-01-01 8:00       1        0           0        1   9.84  14.395
9       2011-01-01 9:00       1        0           0        1  13.12  17.425
10     2011-01-01 10:00       1        0           0        1  15.58  19.695
11     2011-01-01 11:00       1        0           0        1  14.76  16.665
12     2011-01-01 12:00       1        0           0        1  17.22  21.210
13     2011-01-01 13:00       1        0           0        2  18.86  22.725
14     2011-01-01 14:00       1        0           0        2  18.86  22.725
15     2011-01-01 15:00       1        0           0        2  18.04  21.970
16     2011-01-01 16:00       1        0           0        2  17.22  21.210
17     2011-01-01 17:00       1        0           0        2  18.04  21.970
18     2011-01-01 18:00       1        0           0        3  17.22  21.210
19     2011-01-01 19:00       1        0           0        3  17.22  21.210
20     2011-01-01 20:00       1        0           0        2  16.40  20.455
21     2011-01-01 21:00       1        0           0        2  16.40  20.455
22     2011-01-01 22:00       1        0           0        2  16.40  20.455
23     2011-01-01 23:00       1        0           0        2  18.86  22.725
24      2011-01-02 0:00       1        0           0        2  18.86  22.725
25      2011-01-02 1:00       1        0           0        2  18.04  21.970
26      2011-01-02 2:00       1        0           0        2  17.22  21.210
27      2011-01-02 3:00       1        0           0        2  18.86  22.725
28      2011-01-02 4:00       1        0           0        2  18.86  22.725
29      2011-01-02 6:00       1        0           0        3  17.22  21.210
...                 ...     ...      ...         ...      ...    ...     ...
10856  2012-12-18 18:00       4        0           1        1  15.58  19.695
10857  2012-12-18 19:00       4        0           1        1  15.58  19.695
10858  2012-12-18 20:00       4        0           1        1  14.76  16.665
10859  2012-12-18 21:00       4        0           1        1  14.76  17.425
10860  2012-12-18 22:00       4        0           1        1  13.94  16.665
10861  2012-12-18 23:00       4        0           1        1  13.94  17.425
10862   2012-12-19 0:00       4        0           1        1  12.30  15.910
10863   2012-12-19 1:00       4        0           1        1  12.30  15.910
10864   2012-12-19 2:00       4        0           1        1  11.48  15.150
10865   2012-12-19 3:00       4        0           1        1  10.66  13.635
10866   2012-12-19 4:00       4        0           1        1   9.84  12.120
10867   2012-12-19 5:00       4        0           1        1  10.66  14.395
10868   2012-12-19 6:00       4        0           1        1   9.84  12.880
10869   2012-12-19 7:00       4        0           1        1  10.66  13.635
10870   2012-12-19 8:00       4        0           1        1   9.84  12.880
10871   2012-12-19 9:00       4        0           1        1  11.48  14.395
10872  2012-12-19 10:00       4        0           1        1  13.12  16.665
10873  2012-12-19 11:00       4        0           1        1  16.40  20.455
10874  2012-12-19 12:00       4        0           1        1  16.40  20.455
10875  2012-12-19 13:00       4        0           1        1  17.22  21.210
10876  2012-12-19 14:00       4        0           1        1  17.22  21.210
10877  2012-12-19 15:00       4        0           1        1  17.22  21.210
10878  2012-12-19 16:00       4        0           1        1  17.22  21.210
10879  2012-12-19 17:00       4        0           1        1  16.40  20.455
10880  2012-12-19 18:00       4        0           1        1  15.58  19.695
10881  2012-12-19 19:00       4        0           1        1  15.58  19.695
10882  2012-12-19 20:00       4        0           1        1  14.76  17.425
10883  2012-12-19 21:00       4        0           1        1  13.94  15.910
10884  2012-12-19 22:00       4        0           1        1  13.94  17.425
10885  2012-12-19 23:00       4        0           1        1  13.12  16.665

       humidity  windspeed  casual  registered  count
0            81     0.0000       3          13     16
1            80     0.0000       8          32     40
2            80     0.0000       5          27     32
3            75     0.0000       3          10     13
4            75     0.0000       0           1      1
5            75     6.0032       0           1      1
6            80     0.0000       2           0      2
7            86     0.0000       1           2      3
8            75     0.0000       1           7      8
9            76     0.0000       8           6     14
10           76    16.9979      12          24     36
11           81    19.0012      26          30     56
12           77    19.0012      29          55     84
13           72    19.9995      47          47     94
14           72    19.0012      35          71    106
15           77    19.9995      40          70    110
16           82    19.9995      41          52     93
17           82    19.0012      15          52     67
18           88    16.9979       9          26     35
19           88    16.9979       6          31     37
20           87    16.9979      11          25     36
21           87    12.9980       3          31     34
22           94    15.0013      11          17     28
23           88    19.9995      15          24     39
24           88    19.9995       4          13     17
25           94    16.9979       1          16     17
26          100    19.0012       1           8      9
27           94    12.9980       2           4      6
28           94    12.9980       2           1      3
29           77    19.9995       0           2      2
...         ...        ...     ...         ...    ...
10856        46    22.0028      13         512    525
10857        46    26.0027      19         334    353
10858        50    16.9979       4         264    268
10859        50    15.0013       9         159    168
10860        49     0.0000       5         127    132
10861        49     6.0032       1          80     81
10862        61     0.0000       6          35     41
10863        65     6.0032       1          14     15
10864        65     6.0032       1           2      3
10865        75     8.9981       0           5      5
10866        75     8.9981       1           6      7
10867        75     6.0032       2          29     31
10868        75     6.0032       3         109    112
10869        75     8.9981       3         360    363
10870        87     7.0015      13         665    678
10871        75     7.0015       8         309    317
10872        70     7.0015      17         147    164
10873        54    15.0013      31         169    200
10874        54    19.0012      33         203    236
10875        50    12.9980      30         183    213
10876        50    12.9980      33         185    218
10877        50    19.0012      28         209    237
10878        50    23.9994      37         297    334
10879        50    26.0027      26         536    562
10880        50    23.9994      23         546    569
10881        50    26.0027       7         329    336
10882        57    15.0013      10         231    241
10883        61    15.0013       4         164    168
10884        61     6.0032      12         117    129
10885        66     8.9981       4          84     88

[10886 rows x 12 columns]>

In [13]:
train = pd.read_csv("bike_train.csv", parse_dates=["datetime"])

print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [14]:
test = pd.read_csv("bike_test.csv", parse_dates=["datetime"])

print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

## Score

In [15]:
feature_names = ["season", "holiday", "workingday", "weather",
                 "temp", "atemp", "humidity", "windspeed"]

X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(10886, 8)

   season  holiday  workingday  weather  temp   atemp  humidity  windspeed
0       1        0           0        1  9.84  14.395        81        0.0
1       1        0           0        1  9.02  13.635        80        0.0
2       1        0           0        1  9.02  13.635        80        0.0
3       1        0           0        1  9.84  14.395        75        0.0
4       1        0           0        1  9.84  14.395        75        0.0

In [16]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(6493, 8)

   season  holiday  workingday  weather   temp   atemp  humidity  windspeed
0       1        0           1        1  10.66  11.365        56    26.0027
1       1        0           1        1  10.66  13.635        56     0.0000
2       1        0           1        1  10.66  13.635        56     0.0000
3       1        0           1        1  10.66  12.880        56    11.0014
4       1        0           1        1  10.66  12.880        56    11.0014

In [17]:
label_name = "count"

y_train = train[label_name]

print(y_train.shape)
y_train.head(48
            )

(10886,)

0      16
1      40
2      32
3      13
4       1
5       1
6       2
7       3
8       8
9      14
10     36
11     56
12     84
13     94
14    106
15    110
16     93
17     67
18     35
19     37
20     36
21     34
22     28
23     39
24     17
25     17
26      9
27      6
28      3
29      2
30      1
31      8
32     20
33     53
34     70
35     93
36     75
37     59
38     74
39     76
40     65
41     53
42     30
43     22
44     31
45      9
46      8
47      5
Name: count, dtype: int64

In [18]:
# from sklearn.tree import DecisionTreeRegressor

# seed = 37

# model = DecisionTreeRegressor(random_state=seed)
# model

from sklearn.ensemble import RandomForestRegressor

seed = 37

model = RandomForestRegressor(random_state=seed)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

** Score ** = Root Mean Squared Logarithmic Error, RMSLE.

$$ \sqrt{\frac{1}{n} \sum_{i=1}^n (\log(p_i + 1) - \log(a_i+1))^2 } $$

In [19]:
from sklearn.metrics import make_scorer
def rmsle(predict, actual):
    predict = np.array(predict)
    actual = np.array(actual)
    
    log_predict = np.log(predict + 1)
    log_actual = np.log(actual + 1)
    
    difference = log_predict - log_actual
    square_difference = difference ** 2
    mean_square_difference = square_difference.mean()
    
    score = np.sqrt(mean_square_difference)
    
    return score

print(rmsle([1, 2, 3], [1, 2, 3]))
print(rmsle([1, 2, 3], [2, 3, 4]))
print(rmsle([1, 2, 3], [1, 4, 9]))

rmsle_score = make_scorer(rmsle)
rmsle_score

0.0
0.314619332526
0.605676350101

make_scorer(rmsle)

In [20]:
from sklearn.cross_validation import cross_val_score

score = cross_val_score(model, X_train, y_train, cv=20, scoring=rmsle_score).mean()

print("Score = {0:.5f}".format(score))

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Score = 1.39960

## Submit

In [23]:
model.fit(X_train, y_train)

predictions = model.predict(X_test)

print(predictions.shape)
predictions[:3]

(6493,)

array([ 104.55,   38.85,   38.85])

In [24]:
submission = pd.read_csv("sampleSubmission.csv")

submission["count"] = predictions

print(submission.shape)
submission.head()

(6493, 2)

          datetime   count
0  2011-01-20 0:00  104.55
1  2011-01-20 1:00   38.85
2  2011-01-20 2:00   38.85
3  2011-01-20 3:00   97.30
4  2011-01-20 4:00   97.30

In [25]:
from datetime import datetime

current_date = datetime.now()
current_date = current_date.strftime("%Y-%m-%d_%H-%M-%S")

description = "baseline-script"

filename = "{date}_{score:.5f}_{desc}.csv".format(date=current_date, score=score, desc=description)
filepath = "submissions/{filename}".format(filename=filename)

submission.to_csv(filepath, index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'submissions/2018-03-16_11-22-32_1.39960_baseline-script.csv'